root{
}

.slider{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 70%;

}
.register-form{
    padding: 3vmin 20vmin 3vmin 20vmin;
}
.padd{
    padding: 3vmin
}
.back{
    background: url("https://images.pexels.com/photos/242236/pexels-photo-242236.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");

}
.spacing{
    padding: 2vmin 0 1vmin 6vmin;
}
.cards{
    margin-left: 7%;
    margin-right: auto;
}


@media only screen and (max-width: 600px) {
    
    .slider{
        width: 100%;
        margin-bottom: 0;
    }
    .spacing{
        padding: 0;
    }
    .cards{
        margin-left: 0;
        margin-right: 0;   
    }

}
